html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
html {
  line-height: 1;
  font-size: 10px;
  height: 100%;
}
body {
  overflow-x: hidden;
}
a,
a:visited,
a:focus {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
b {
  font-weight: bold;
}
.btn-round {
  padding: 1.2rem 2.5rem;
  background-color: #fd0;
  color: #fff;
  font-family: 'Bosque Regular';
  font-size: 2.4rem;
  -webkit-box-shadow: inset 1px -12px 0px -8px #b19c2f;
  -moz-box-shadow: inset 1px -12px 0px -8px #b19c2f;
  box-shadow: inset 1px -12px 0px -8px #b19c2f;
  border-radius: 2rem;
}
.prev,
.next {
  background: transparent url("../images/carousel-arrow.png") no-repeat center center;
  border: 0;
  height: 7rem;
  width: 4rem;
  position: absolute;
  cursor: pointer;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.prev:focus,
.next:focus {
  outline: none;
}
.prev {
  left: -8rem;
  top: 40%;
}
.prev:hover {
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.next {
  right: -8rem;
  top: 40%;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.next:hover {
  -moz-transform: scale(1.2) rotate(180deg);
  -o-transform: scale(1.2) rotate(180deg);
  -ms-transform: scale(1.2) rotate(180deg);
  -webkit-transform: scale(1.2) rotate(180deg);
  transform: scale(1.2) rotate(180deg);
}
@font-face {
  font-family: 'Bosque Regular';
  src: url("../fonts/Bosque-Regular.otf") format('opentype');
  src: url("../fonts/Bosque-Regular.woff") format('woff');
  font-weight: 'normal';
  font-style: normal;
}
label,
p,
a,
li,
span,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bosque Regular';
}
.fixed {
  position: fixed;
  left: -28rem;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 28rem;
}
.menu-item {
  position: absolute;
  right: -5rem;
  border: 0;
  cursor: pointer;
  background: transparent;
  display: block;
}
.menu-item:focus {
  outline: 0;
}
.menu-item.hamburger {
  padding: 0;
}
.menu-item .hamburger-box {
  position: absolute;
  top: 8.1rem;
  left: 1.3rem;
}
.menu-item .fa {
  position: absolute;
  font-size: 2.6rem;
  color: #fff;
  left: 2rem;
  top: 8rem;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-shadow: 0.2rem 0.2rem 0.7rem #6d6e71;
}
.menu-item .fa.fa-times {
  display: none;
}
.menu-item svg path {
  -moz-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  -ms-transition: fill 0.2s ease-in-out;
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}
.menu-item:not(#main) {
  width: 5.7rem;
  height: 11.4rem;
}
.menu-item.is-active svg path {
  fill: #fff;
}
.menu-item.is-active i:not(.fa-times) {
  display: none;
}
.menu-item.is-active img {
  display: none;
}
.menu-item.is-active i.fa-times {
  display: block;
  color: #000;
  text-shadow: initial;
}
#main {
  width: 7rem;
  height: 15.5rem;
  z-index: 5;
  right: -6.5rem;
}
#main:hover svg {
  fill: #fff;
}
#main svg {
  fill: #220237;
}
#wpp {
  z-index: 4;
  top: 10rem;
}
#wpp:hover svg {
  fill: #409247;
}
#wpp svg {
  fill: #56cb60;
}
#fb {
  z-index: 3;
  top: 16.5rem;
}
#fb:hover svg {
  fill: #31497c;
}
#fb svg {
  fill: #3b5999;
}
#insta {
  top: 23rem;
  z-index: 2;
}
#insta:hover svg {
  fill: #c2275b;
}
#insta svg {
  fill: #df306b;
}
#insta .fa {
  top: 7.5rem;
  left: 1.7rem;
}
#events {
  top: 29rem;
  z-index: 1;
}
#events:hover svg {
  fill: #81776b;
}
#events svg {
  fill: #968a7c;
}
#events img {
  position: absolute;
  top: 7.5rem;
  left: 1.7rem;
}
.open-menu {
  height: 100vh;
  padding: 1.2rem;
}
.open-menu .number {
  position: relative;
  width: 24rem;
  height: 8rem;
  margin: 10rem auto 2rem auto;
}
.open-menu .number p {
  font-size: 3.2rem;
  color: #fff;
  position: absolute;
  top: 1.7rem;
  left: 3rem;
  text-shadow: 0.2rem 0.2rem 0.3rem #6d6e71;
}
.open-menu .address {
  font-size: 1.6rem;
  color: #fff;
  padding: 0 2.5rem;
}
.open-menu .stripe {
  height: inherit;
  width: 0.6rem;
  background-color: rgba(0,0,0,0.13);
  position: absolute;
  top: 0;
  right: -0.5rem;
  z-index: 6;
  opacity: 0;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.4s;
}
.open-menu .menu-vector {
  display: block;
  margin: 5rem auto;
  box-shadow: 0 0 17rem 1.3rem rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 17rem 1.3rem #fff;
  -webkit-box-shadow: 0 0 17rem 1.3rem #fff;
  -ms-box-shadow: 0 0 17rem 1.3rem #fff;
  border-radius: 10rem;
}
.open-menu .button {
  fill: #ffcb05;
}
.open-menu .instance {
  display: none;
}
.open-menu #links {
  border-top: 0.3rem groove #f771a8;
}
.open-menu #links ul li {
  border-bottom: 0.3rem groove #f771a8;
}
.open-menu #links ul li a {
  font-size: 2rem;
  color: #fff;
  line-height: 5rem;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.open-menu #links ul li a:hover {
  color: #fd0;
}
.open-menu #links ul li a i {
  margin-right: 1rem;
}
.open-menu #wpp-open {
  text-align: center;
  border-top: 0.3rem groove #88fb92;
}
.open-menu #wpp-open i {
  font-size: 20rem;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.7rem #6d6e71;
  margin-bottom: 3rem;
  padding-top: 6rem;
}
.open-menu #wpp-open p {
  font-size: 2rem;
  line-height: 1.4rem;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.4rem #6d6e71;
}
.open-menu #wpp-open p span {
  font-size: 4.4rem;
  line-height: 4rem;
  display: block;
  margin: 0.5rem auto 5rem auto;
}
.open-menu #wpp-open p:last-of-type {
  font-size: 3.4rem;
}
.open-menu #prime-events {
  border-top: 0.3rem groove #aca298;
  text-align: center;
}
.open-menu #prime-events p {
  font-family: 'Asap';
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.4rem #6d6e71;
}
.open-menu #prime-events p:first-of-type {
  margin: 18rem auto 2.5rem auto;
}
.open-menu #prime-events p:last-of-type {
  padding: 0 2rem;
}
.open-menu #prime-events span {
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: #fff;
  color: #968a7c;
  font-size: 3rem;
  font-family: 'Asap';
  display: block;
  margin: 0 auto 2rem auto;
  text-align: center;
}
.open-menu #prime-events img {
  max-width: 100%;
  margin-bottom: 33rem;
}
.green {
  background-color: #56cb60;
}
.brown {
  background-color: #968a7c;
}
.pink {
  background-color: #ef5ba1;
}
.lightbox {
  width: 100%;
  background-color: #cbdb2a;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  text-align: center;
  display: none;
}
.lightbox h2 {
  color: #fff;
  font-size: 4.4rem;
  line-height: 3.3rem;
  margin: 8.8rem auto 6rem auto;
}
@media screen and (max-width: 693px) {
  .lightbox h2 {
    margin: 5rem auto 3rem auto;
    font-size: 3rem;
    width: 80%;
  }
}
.lightbox .close {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: 0;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.lightbox .close:hover {
  color: #000;
}
@media screen and (max-width: 693px) {
  .lightbox .close {
    top: -3rem;
    right: 1rem;
  }
}
.lightbox .next {
  right: 0;
  top: 50%;
}
.lightbox .prev {
  left: 0;
  top: 50%;
}
.lightbox .picture {
  height: 40rem;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  .lightbox .picture {
    height: 30rem;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  .lightbox .picture {
    height: 30rem;
  }
}
@media screen and (max-width: 693px) {
  .lightbox .picture {
    height: 30rem;
  }
}
.lightbox .picture img {
  max-width: 100%;
  max-height: 100%;
}
.lightbox ul {
  width: 60%;
  margin: 3% auto 0 auto;
}
.lightbox ul li {
  float: left;
  width: 20%;
  min-height: 10rem;
  cursor: pointer;
}
.lightbox ul li + li {
  margin-left: 6.6%;
}
.lightbox ul li:nth-of-type(4n+5) {
  margin-left: 0;
}
.lightbox ul li img {
  max-width: 100%;
}
@media screen and (max-width: 693px) {
  .lightbox ul li {
    width: 30%;
  }
  .lightbox ul li + li {
    margin-left: 4%;
  }
}
.contain {
  width: 120rem;
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  .contain {
    max-width: 98rem;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  .contain {
    max-width: 68rem;
  }
}
@media screen and (max-width: 693px) {
  .contain {
    max-width: 30.6rem;
  }
}
footer {
  min-height: 48rem;
  background-color: #381d53;
  position: relative;
  text-align: center;
}
footer .footer-cloud {
  position: absolute;
  top: -14rem;
  left: 0;
}
footer path.cls-1 {
  fill: #fff;
}
footer a:first-of-type {
  display: block;
  width: 12rem;
  margin: 0 auto;
  padding-top: 3rem;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
}
footer p {
  color: #fff;
  text-align: center;
}
footer p.phone {
  color: #cbdb2a;
  font-size: 3.6rem;
  margin: 7rem auto 2rem auto;
}
footer p:nth-of-type(2) {
  font-size: 1.8rem;
}
footer p:nth-of-type(3) {
  font-size: 1.6rem;
  margin: 10rem auto 2rem auto;
}
.center-content {
  max-width: 130rem;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  .center-content {
    max-width: 98rem;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  .center-content {
    max-width: 68rem;
  }
}
@media screen and (max-width: 693px) {
  .center-content {
    max-width: 20.6rem;
  }
}
header.circled {
  margin: auto;
  width: 100%;
}
header.circled.negative {
  z-index: -3;
}
header.circled .logo {
  background: transparent url("../images/logo.png") no-repeat center center;
  display: block;
  margin: 0 auto;
  width: 42rem;
  height: 32rem;
}
@media screen and (max-width: 693px) {
  header.circled .logo {
    width: 80%;
    background-size: contain;
  }
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  .fixed .open-menu .menu-vector {
    margin: 2rem auto;
  }
  .fixed .open-menu #links ul li a {
    line-height: 3.5rem;
  }
  .fixed .open-menu .number {
    margin: 2rem auto 1rem auto;
  }
  .fixed .open-menu #wpp-open {
    font-size: 15rem;
  }
  .fixed .open-menu #wpp-open i {
    padding-top: 1rem;
  }
  .fixed .open-menu #wpp-open p:last-of-type {
    margin-bottom: 7rem;
  }
  .fixed .open-menu #wpp-open p span {
    margin: 0.5rem auto 1rem auto;
  }
  .fixed .open-menu #prime-events img {
    margin-bottom: 22rem;
  }
  .fixed .open-menu #prime-events p:first-of-type {
    margin: 5rem auto 2.5rem auto;
  }
  main #opening h1 {
    width: 53%;
    font-size: 3.6rem;
    line-height: 3.4rem;
  }
  main #opening h2 {
    width: 39%;
  }
  main #features h1 {
    font-size: 5.9rem;
    width: 100%;
  }
  main #features .feature-grid li {
    min-height: 44rem;
  }
  main #features .feature-grid li .circle-contain {
    margin: 12rem auto 0 auto;
  }
  main #features .feature-grid li .is-hovered-text {
    top: 25rem;
  }
  main #features .feature-grid li .is-hovered-link {
    top: 37rem;
  }
  main #features .feature-grid li .is-hovered-graphic {
    top: 1rem;
  }
  main #features .feature-grid li .is-hovered-label {
    top: 18rem;
  }
  main #budget h1 {
    width: 87%;
  }
  main #why {
    min-height: 115rem;
  }
  main #why h1 span {
    font-size: 9rem;
  }
  main #why .lollipop {
    width: 22%;
  }
  main #why .perks-grid .column {
    min-height: 35rem;
  }
  main #advantages {
    min-height: 85rem;
  }
  main #advantages .propaganda {
    margin-top: 17.5rem;
    text-align: center;
  }
  main #advantages .themes {
    width: 49%;
    text-align: center;
    height: 12rem;
  }
  main #advantages .huge {
    font-size: 17.991rem;
  }
  main #advantages .choices {
    font-size: 3.26rem;
    margin-top: 2rem;
  }
  main #advantages .choices span {
    font-size: 3.66rem;
  }
  main #advantages .choices b {
    letter-spacing: 0.5rem;
  }
  main #advantages .parties {
    width: 40%;
    text-align: left;
  }
  main #advantages .parties .rotated {
    font-size: 3.662rem;
    top: 7rem;
    left: -8rem;
  }
  main #advantages .parties span:first-of-type {
    font-size: 19.6rem;
  }
  main #advantages .parties .number-of {
    font-size: 15.9rem;
    width: 57%;
    margin-top: 6.5rem;
    text-align: left;
    line-height: 3rem;
  }
  main #advantages .parties .number-of b {
    font-size: 1.6rem;
  }
  main #advantages .fun {
    width: 51%;
    text-align: center;
  }
  main #advantages .fun .rotated {
    left: -3rem;
    top: 11.5rem;
    font-size: 3.716rem;
    letter-spacing: 0.3rem;
  }
  main #advantages .fun span:first-of-type {
    font-size: 20.94rem;
    margin-left: 0rem;
    margin-top: 4rem;
  }
  main #advantages .fun .hours {
    font-size: 16.6rem;
    width: 53%;
    line-height: 4rem;
    margin-top: 9.5rem;
  }
  main #advantages .fun .hours b {
    font-size: 2.324rem;
  }
  main #advantages .toy {
    width: 35%;
  }
  main #advantages .toy .huge-toy {
    font-size: 19.4rem;
    letter-spacing: -0.2rem;
    left: -7rem;
    top: 4rem;
  }
  main #advantages .toy .meters {
    font-size: 1.724rem;
    right: 12rem;
    top: 6.8rem;
    text-align: center;
  }
  main #advantages .toy .meters span {
    font-size: 4.457rem;
    line-height: 4rem;
  }
  main #happening {
    min-height: 103.5rem;
  }
  main #happening .instagram-feed .column {
    min-height: 34rem;
  }
  main #happening .instagram-feed object:last-of-type {
    bottom: -36.4rem;
  }
  main #happening .instagram-feed .overlay p {
    margin: 10rem 0 2% 0;
    line-height: 3.2rem;
  }
  main #types .type p {
    width: 70%;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  main #opening .forward-girls {
    display: none;
  }
  main #opening h1 {
    width: 100%;
    text-align: center;
    font-size: 4.7rem;
    line-height: 4rem;
  }
  main #opening h2 {
    width: 100%;
    text-align: center;
    margin: 4rem auto;
  }
  main #opening img {
    width: auto;
    max-width: initial;
  }
  main #opening .btn-round {
    display: block;
    margin: 0 auto;
    width: 18rem;
  }
  main #features h1 {
    font-size: 4rem;
    width: 100%;
  }
  main #features .feature-grid li {
    min-height: 47rem;
  }
  main #features .feature-grid li:hover .is-hovered-label {
    width: 24rem;
  }
  main #features .feature-grid li .circle-contain {
    margin: 18rem auto 0 auto;
  }
  main #features .feature-grid li .is-hovered-graphic {
    top: 1rem;
  }
  main #features .feature-grid li .is-hovered-graphic svg.forma {
    bottom: auto;
  }
  main #features .feature-grid li .is-hovered-label {
    top: 18rem;
  }
  main #features .feature-grid li .is-hovered-text {
    top: 24rem;
  }
  main #features .feature-grid li .is-hovered-link {
    top: 41rem;
  }
  main #budget h1 {
    font-size: 4rem;
    width: 51%;
    line-height: 4.4rem;
  }
  main #why h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  main #why h1 span {
    font-size: 6rem;
    font-size: 6rem;
    letter-spacing: -0.5px;
  }
  main #why .perks-grid {
    width: 100%;
  }
  main #why .perks-grid .column {
    min-height: 40rem;
    width: 49%;
    margin: 0;
  }
  main #why .perks-grid .column:nth-of-type(3n+1) {
    margin: 0;
  }
  main #why .perks-grid .column:nth-of-type(3n+3) {
    margin: 0;
  }
  main #why .lollipop {
    display: none;
  }
  main #advantages {
    min-height: 77rem;
  }
  main #advantages .pop1 {
    top: -11rem;
    left: 2rem;
  }
  main #advantages .pop2 {
    display: none;
  }
  main #advantages .propaganda {
    margin-top: 11.5rem;
    text-align: center;
  }
  main #advantages .themes {
    width: 59%;
    text-align: center;
    height: auto;
  }
  main #advantages .huge {
    font-size: 16.991rem;
  }
  main #advantages .choices {
    font-size: 2.26rem;
    margin-top: 2rem;
  }
  main #advantages .choices span {
    font-size: 3.66rem;
  }
  main #advantages .choices b {
    letter-spacing: 0.5rem;
  }
  main #advantages .parties {
    width: 40%;
    text-align: left;
  }
  main #advantages .parties .rotated {
    font-size: 3.662rem;
    top: 5rem;
    left: -8rem;
  }
  main #advantages .parties span:first-of-type {
    font-size: 17.6rem;
  }
  main #advantages .parties .number-of {
    font-size: 13.9rem;
    width: 57%;
    margin-top: 6.5rem;
    text-align: left;
    line-height: 2rem;
  }
  main #advantages .parties .number-of b {
    font-size: 1.6rem;
  }
  main #advantages .fun {
    width: 51%;
    text-align: center;
  }
  main #advantages .fun .rotated {
    left: -6rem;
    top: 9.5rem;
    font-size: 3.716rem;
    letter-spacing: 0.3rem;
  }
  main #advantages .fun span:first-of-type {
    font-size: 17.94rem;
    margin-left: 0rem;
    margin-top: 4rem;
  }
  main #advantages .fun .hours {
    font-size: 13.6rem;
    width: 53%;
    line-height: 3rem;
    margin-top: 9.5rem;
    text-align: left;
  }
  main #advantages .fun .hours b {
    font-size: 1.6rem;
  }
  main #advantages .toy {
    width: 35%;
  }
  main #advantages .toy .huge-toy {
    font-size: 17.4rem;
    letter-spacing: -0.2rem;
    left: -1rem;
    top: 4rem;
  }
  main #advantages .toy .meters {
    font-size: 1.724rem;
    right: -2rem;
    top: 4.8rem;
    text-align: center;
  }
  main #advantages .toy .meters span {
    font-size: 4.457rem;
    line-height: 4rem;
  }
  main #happening {
    min-height: 182.5rem;
  }
  main #happening h1 {
    font-size: 5rem;
    width: 100%;
  }
  main #happening h2 {
    font-size: 2rem;
  }
  main #happening .instagram-feed .column {
    width: 50%;
    min-height: 37rem;
  }
  main #happening .instagram-feed object:last-of-type {
    bottom: -79.3rem;
  }
  main #types .type.fix h2 {
    width: 90%;
  }
}
@media screen and (max-width: 693px) {
  .fixed .open-menu {
    overflow-y: scroll;
  }
  .fixed .open-menu .menu-vector {
    margin: 2rem auto;
  }
  .fixed .open-menu .number {
    margin: 2rem auto;
  }
  .fixed .open-menu #links ul li a {
    line-height: 4rem;
  }
  .fixed .open-menu #wpp-open {
    margin-bottom: 7rem;
  }
  .fixed .open-menu #wpp-open .fa {
    font-size: 10rem;
    padding-top: 1rem;
  }
  .fixed .open-menu #wpp-open p {
    font-size: 1.6rem;
  }
  .fixed .open-menu #wpp-open p span {
    font-size: 3rem;
    line-height: 4rem;
    margin: 0 auto;
  }
  .fixed .open-menu #wpp-open p:last-of-type {
    font-size: 2.6rem;
  }
  .fixed .open-menu #prime-events p {
    margin: 4rem auto 2rem auto;
  }
  .fixed .open-menu #prime-events img {
    margin-bottom: 12rem;
  }
  main #opening {
    text-align: center;
  }
  main #opening .logo {
    width: 28rem;
  }
  main #opening h1 {
    font-size: 2.6rem;
    text-align: center;
    width: 100%;
    line-height: 2.4rem;
    padding-top: 18rem;
  }
  main #opening h2 {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
  }
  main #opening .forward-girls {
    display: none;
  }
  main #opening .upward-cloud {
    left: 0;
    width: 100%;
    max-width: initial;
    bottom: 0;
  }
  main #features h1 {
    width: 100%;
    font-size: 2.6rem;
    line-height: 2.6rem;
    padding-top: 5rem;
    margin: 0 auto 10rem auto;
  }
  main #features .feature-grid li {
    width: 100%;
    display: block;
    margin: 0 auto;
    min-height: 45rem;
  }
  main #features .feature-grid li .circle-contain {
    margin: 12rem auto 0 auto;
  }
  main #features .feature-grid li .is-hovered-text {
    top: 25rem;
  }
  main #features .feature-grid li .is-hovered-link {
    top: 37rem;
  }
  main #features .feature-grid li .is-hovered-graphic {
    top: 1rem;
  }
  main #features .feature-grid li .is-hovered-label {
    top: 18rem;
  }
  main #budget {
    height: 80rem;
  }
  main #budget h1 {
    font-size: 3.4rem;
    line-height: 3.4rem;
    width: 100%;
    padding-top: 10rem;
  }
  main #budget h2 {
    font-size: 1.6rem;
    line-height: auto;
    width: 100%;
  }
  main #budget .upward-cloud {
    bottom: 10rem;
  }
  main #why {
    min-height: 65rem;
    margin-top: -10rem;
  }
  main #why h1 {
    font-size: 1.8rem;
    line-height: 2.64rem;
  }
  main #why h1 span {
    font-size: 2.8rem;
    line-height: 2.64rem;
  }
  main #why .perks-grid .column {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  main #why .perks-grid .column:nth-of-type(3) svg {
    margin: 0 auto;
    top: 2.3rem;
  }
  main #why .perks-grid .column:nth-of-type(4) svg {
    top: 3.3rem;
  }
  main #why .perks-grid .column img {
    margin: 0 auto;
  }
  main #why .perks-grid .column svg {
    margin: 0 auto;
    top: 2.3rem;
  }
  main #why .center-content {
    max-width: 100%;
  }
  main #why .lollipop {
    display: none;
  }
  main #why .hide {
    display: none;
  }
  main #advantages {
    display: none;
  }
  main #happening {
    min-height: 125.5rem;
  }
  main #happening .center-content {
    max-width: 28rem;
  }
  main #happening h1 {
    font-size: 4rem;
    width: 100%;
    line-height: 4rem;
  }
  main #happening h2 {
    font-size: 2rem;
    line-height: auto;
    width: 100%;
  }
  main #happening .instagram-feed {
    margin-top: 7rem;
  }
  main #happening .instagram-feed .row:last-of-type {
    display: none;
  }
  main #happening .instagram-feed .row .column {
    width: 100%;
    display: block;
    margin: 0 auto;
    min-height: 38rem;
  }
  main #happening .instagram-feed object:last-of-type {
    bottom: -154.3rem;
  }
  main #types .center-content {
    max-width: 28rem;
  }
  main #types .next {
    right: -4rem;
  }
  main #types .prev {
    left: -4rem;
  }
  footer {
    min-height: 51rem;
  }
  footer .center-content {
    max-width: 24rem;
  }
}
@media screen and (max-height: 'screen and max-height: small-height') {
  body .fixed .open-menu #wpp-open i {
    margin-bottom: 1rem;
  }
  body .fixed .open-menu .number {
    margin: 2rem auto 0rem auto;
  }
  body .fixed .open-menu #prime-events p {
    margin: 2rem auto 2.5rem auto;
  }
  body .fixed .open-menu #prime-events img {
    margin-bottom: 6rem;
  }
  body .fixed .open-menu #links ul li a {
    line-height: 3rem;
  }
}
.panel {
  position: relative;
  overflow: hidden;
}
.panel:first-of-type {
  height: 100vh;
}
.panel .upward-cloud {
  position: absolute;
  z-index: 2;
  background-repeat: repeat-x;
  display: block;
  height: 9.1rem;
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 91px;
  background-position: 0 0;
  animation: bubble 1s steps(20) infinite alternate;
  -webkit-animation: bubble 1s steps(20) infinite alternate;
  -o-animation: bubble 1s steps(20) infinite alternate;
  -moz-animation: bubble 1s steps(20) infinite alternate;
  -ms-animation: bubble 1s steps(20) infinite alternate;
  bottom: 0;
}
@-moz-keyframes bubble {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1820px;
  }
}
@-webkit-keyframes bubble {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1820px;
  }
}
@-o-keyframes bubble {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1820px;
  }
}
@keyframes bubble {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1820px;
  }
}
#opening {
  background-color: #7f3f98;
}
#opening img {
  max-width: 100%;
}
#opening .logo {
  right: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
}
#opening .forward-girls {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 100vh;
  z-index: 1;
}
#opening h1 {
  font-family: 'Bosque Regular';
  font-size: 5.6rem;
  color: #cbdb2a;
  line-height: 5.4rem;
  padding-top: 25rem;
  width: 63%;
  position: relative;
  z-index: 2;
  text-shadow: 0 1px 0 #87941d, 0 2px 0 #87941d, 0 3px 0 #87941d, 0 4px 0 #87941d, 0 5px 0 #87941d, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1), 0 3px 5px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1), 0 20px 20px rgba(0,0,0,0.1);
}
#opening h2 {
  line-height: 2.4rem;
  color: #fff;
  font-size: 2rem;
  font-family: 'Asap';
  width: 38%;
  margin-top: 4rem;
  position: relative;
  z-index: 2;
  margin: 4rem 0 5.4rem 0;
}
#opening .btn-round {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#opening .btn-round:hover {
  background-color: #fff;
  -webkit-box-shadow: inset 1px -12px 0px -8px #bdbbb0;
  -moz-box-shadow: inset 1px -12px 0px -8px #bdbbb0;
  box-shadow: inset 1px -12px 0px -8px #bdbbb0;
  color: #804099;
}
#opening .upward-cloud {
  background-image: url("../images/sprite-darkpurple.png");
}
#features {
  background-color: #381d53;
}
#features h1 {
  font-size: 6.4rem;
  color: #cbdb2a;
  line-height: 5.4rem;
  font-family: 'Bosque Regular';
  text-align: center;
  padding-top: 10rem;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto 13rem auto;
  text-shadow: 0 1px 0 #87941d, 0 2px 0 #87941d, 0 3px 0 #87941d, 0 4px 0 #87941d, 0 5px 0 #87941d, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1), 0 3px 5px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1), 0 20px 20px rgba(0,0,0,0.1);
}
#features .feature-grid li {
  width: 33.3%;
  min-height: 64rem;
  display: inline-block;
  vertical-align: top;
  float: left;
  -webkit-box-shadow: inset 0px -23px 58px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px -23px 58px 2px rgba(0,0,0,0.4);
  box-shadow: inset 0px -23px 58px 2px rgba(0,0,0,0.4);
  text-align: center;
  overflow: hidden;
  position: relative;
}
#features .feature-grid li:first-of-type {
  background: #381d53 url("../images/atracoes.jpg") no-repeat center center;
}
#features .feature-grid li:nth-of-type(2) {
  background: #381d53 url("../images/estrutura.jpg") no-repeat center center;
}
#features .feature-grid li:last-of-type {
  background: #381d53 url("../images/gastronomia.jpg") no-repeat center center;
}
#features .feature-grid li:hover h2 {
  -moz-transform: translateY(50rem);
  -o-transform: translateY(50rem);
  -ms-transform: translateY(50rem);
  -webkit-transform: translateY(50rem);
  transform: translateY(50rem);
}
#features .feature-grid li:hover .circle-contain {
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0s;
}
#features .feature-grid li:hover .is-hovered-bg {
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-delay: 0.3s;
}
#features .feature-grid li:hover .is-hovered-text {
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-delay: 0.6s;
}
#features .feature-grid li:hover .is-hovered-link {
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-delay: 0.7s;
}
#features .feature-grid li:hover .is-hovered-graphic {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-delay: 0.8s;
}
#features .feature-grid li:hover .is-hovered-label {
  width: 30rem;
  height: 6rem;
  opacity: 1;
  transition-delay: 1s;
}
#features .feature-grid li:hover .is-hovered-label span {
  opacity: 1;
  -moz-transition: opacity 0.3s ease-in-out 1s;
  -o-transition: opacity 0.3s ease-in-out 1s;
  -ms-transition: opacity 0.3s ease-in-out 1s;
  -webkit-transition: opacity 0.3s ease-in-out 1s;
  transition: opacity 0.3s ease-in-out 1s;
}
#features .feature-grid li h2 {
  font-size: 4rem;
  color: #fff;
  font-family: 'Bosque Regular';
  text-align: center;
  text-transform: uppercase;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
#features .feature-grid li svg.forma {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
#features .feature-grid li svg.dotted {
  position: absolute;
  left: -1.1rem;
  right: 0;
  margin: auto;
  top: -1rem;
}
#features .feature-grid li .circle-contain {
  height: 22rem;
  width: 22rem;
  margin: 32rem auto 0 auto;
  display: inline-block;
  vertical-align: top;
  -moz-transition: transform 0.45s ease-in-out;
  -o-transition: transform 0.45s ease-in-out;
  -ms-transition: transform 0.45s ease-in-out;
  -webkit-transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition-delay: 0.8s;
}
#features .feature-grid li .circle {
  height: 11rem;
  width: 11rem;
  border-radius: 10rem;
  background-color: transparent;
  margin: 2rem auto 0 auto;
  border: 0.3rem solid #fff;
  position: relative;
}
#features .feature-grid li .circle svg:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 2.3rem auto;
}
@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotateBackwards {
  to {
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotateBackwards {
  to {
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-o-keyframes rotateBackwards {
  to {
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotateBackwards {
  to {
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#features .feature-grid li .is-hovered-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(196,211,43,0.95);
  top: 0;
  left: 0;
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  -ms-transition: transform 0.35s ease-in-out;
  -webkit-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition-delay: 0.3s;
  text-align: center;
}
#features .feature-grid li .is-hovered-text {
  position: absolute;
  color: #fff;
  font-family: 'Asap';
  font-size: 1.8rem;
  -moz-transform: translateY(70rem);
  -o-transform: translateY(70rem);
  -ms-transform: translateY(70rem);
  -webkit-transform: translateY(70rem);
  transform: translateY(70rem);
  width: 60%;
  margin: 0 auto;
  -moz-transition: transform 0.45s ease-in-out;
  -o-transition: transform 0.45s ease-in-out;
  -ms-transition: transform 0.45s ease-in-out;
  -webkit-transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition-delay: 0.3s;
  left: 0;
  right: 0;
  top: 37rem;
  margin: auto;
}
#features .feature-grid li .is-hovered-link {
  position: absolute;
  top: 47rem;
  left: 0;
  right: 0;
  margin: auto;
  -moz-transform: translateY(70rem);
  -o-transform: translateY(70rem);
  -ms-transform: translateY(70rem);
  -webkit-transform: translateY(70rem);
  transform: translateY(70rem);
  -moz-transition: transform 0.45s ease-in-out;
  -o-transition: transform 0.45s ease-in-out;
  -ms-transition: transform 0.45s ease-in-out;
  -webkit-transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition-delay: 0.2s;
  width: 18rem;
  background-color: transparent;
  box-shadow: none;
  border: 0.3rem solid #fff;
}
#features .feature-grid li .is-hovered-link:hover {
  color: rgba(196,211,43,0.95);
  background-color: #fff;
  transition-delay: 0;
}
#features .feature-grid li .is-hovered-graphic {
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  margin: auto;
  -moz-transition: transform 0.45s ease-in-out;
  -o-transition: transform 0.45s ease-in-out;
  -ms-transition: transform 0.45s ease-in-out;
  -webkit-transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#features .feature-grid li .is-hovered-graphic .circle {
  width: 16rem;
  height: 16rem;
  margin: 3rem auto 0 auto;
}
#features .feature-grid li .is-hovered-graphic svg.dotted {
  animation: rotateBackwards 3s linear infinite;
  left: 0;
  right: 0;
  margin: auto;
  top: 1.8rem;
}
#features .feature-grid li .is-hovered-graphic svg.forma {
  animation: rotate 3s linear infinite;
}
#features .feature-grid li .is-hovered-label {
  position: absolute;
  top: 27rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  -moz-transition: width 0.45s;
  -o-transition: width 0.45s;
  -ms-transition: width 0.45s;
  -webkit-transition: width 0.45s;
  transition: width 0.45s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  border-radius: 1rem;
  opacity: 0;
  background: transparent url("../images/label-bg.png") no-repeat center center;
}
#features .feature-grid li .is-hovered-label span {
  color: rgba(196,211,43,0.95);
  opacity: 0;
  font-size: 3.3rem;
  display: block;
  margin-top: 1.4rem;
}
#features .feature-grid:after {
  clear: both;
}
#budget {
  background: transparent url("../images/section-bg2.jpg") no-repeat top center;
  height: 90rem;
}
#budget h1 {
  color: #cbdb2a;
  font-size: 6.4rem;
  font-family: 'Bosque Regular';
  text-align: center;
  line-height: 7rem;
  width: 43%;
  margin: 0 auto 6rem auto;
  padding-top: 15rem;
  text-shadow: 0 1px 0 #87941d, 0 2px 0 #87941d, 0 3px 0 #87941d, 0 4px 0 #87941d, 0 5px 0 #87941d, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1), 0 3px 5px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1), 0 20px 20px rgba(0,0,0,0.1);
}
#budget h2 {
  color: #fff;
  font-size: 3rem;
  font-family: 'Bosque Regular';
  text-align: center;
  width: 56.538%;
  margin: 0 auto;
}
#budget .btn-round {
  background-color: #f00;
  -webkit-box-shadow: inset 1px -12px 0px -8px #b11516;
  -moz-box-shadow: inset 1px -12px 0px -8px #b11516;
  box-shadow: inset 1px -12px 0px -8px #b11516;
  display: block;
  margin: 8.6rem auto 0 auto;
  max-width: 17rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#budget .btn-round:hover {
  color: #381d53;
  background-color: #fff;
  -webkit-box-shadow: inset 1px -12px 0px -8px #bdbbb0;
  -moz-box-shadow: inset 1px -12px 0px -8px #bdbbb0;
  box-shadow: inset 1px -12px 0px -8px #bdbbb0;
}
#budget img {
  position: absolute;
  bottom: 0;
}
#budget .upward-cloud {
  background-image: url("../images/sprite-white.png");
  bottom: 17rem;
}
#why {
  background: #fff url("../images/circled-bg.jpg") no-repeat bottom center;
  z-index: 2;
  min-height: 108rem;
}
#why .upward-cloud {
  background-image: url("../images/sprite-darkpurple.png");
}
#why h1 {
  color: #fd0;
  font-size: 6.4rem;
  font-family: 'Bosque Regular';
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 1px 0 #bb980c, 0 2px 0 #bb980c, 0 3px 0 #bb980c, 0 4px 0 #bb980c, 0 5px 0 #bb980c, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1), 0 3px 5px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1), 0 20px 20px rgba(0,0,0,0.1);
}
#why h1 span {
  display: block;
  font-size: 10rem;
  font-family: 'Bosque Regular';
}
#why .perks-grid {
  text-align: center;
  clear: both;
  width: 96%;
  margin: 10rem auto 0 auto;
}
#why .perks-grid .column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  position: relative;
  margin: 0 2%;
  min-height: 35rem;
  opacity: 0;
}
#why .perks-grid .column:nth-of-type(3n+1) {
  margin-left: 0;
}
#why .perks-grid .column:nth-of-type(3n+3) {
  margin-right: 0;
}
#why .perks-grid .column svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 2.3rem auto;
}
#why .perks-grid .column svg path {
  stroke-width: 1.5;
  stroke: #fff;
}
#why .perks-grid .column:nth-of-type(3) svg {
  margin: 3.5rem auto;
}
#why .perks-grid .column h2 {
  font-size: 3.4rem;
  color: #cbdb2a;
  font-family: 'Bosque Regular';
  margin-top: 2rem;
}
#why .perks-grid .column p {
  color: #6d6e71;
  font-size: 1.8rem;
  font-family: 'Asap';
  width: 82%;
  margin: 2rem auto 0 auto;
}
#why .perks-grid .column.draw {
  animation: fadeInUp 1s ease-in-out forwards;
}
#why .perks-grid .column.draw:first-of-type svg path {
  stroke-dasharray: 200px;
  stroke-dashoffset: 225px;
  animation: draw 3s ease-in-out forwards;
}
#why .perks-grid .column.draw:nth-of-type(2) svg path {
  stroke-dasharray: 230px;
  stroke-dashoffset: 250px;
  animation: draw 3.2s ease-in-out forwards;
}
#why .perks-grid .column.draw:nth-of-type(3) svg path {
  stroke-dasharray: 280px;
  stroke-dashoffset: 300px;
  animation: draw 3s linear forwards;
}
#why .perks-grid .column.draw:nth-of-type(3) svg circle {
  stroke-dasharray: 80px;
  stroke-dashoffset: 100px;
  animation: draw 3s ease-in-out forwards;
}
#why .perks-grid .column.draw:nth-of-type(4) svg path {
  stroke-dasharray: 140px;
  stroke-dashoffset: 155px;
  animation: draw 2.7s ease-in-out forwards;
}
#why .perks-grid .column.draw:nth-of-type(5) svg path {
  stroke-dasharray: 200px;
  stroke-dashoffset: 220px;
  animation: draw 2.5s ease-in-out forwards;
}
#why .perks-grid .column.draw:nth-of-type(6) svg path {
  stroke-dasharray: 138px;
  stroke-dashoffset: 146px;
  animation: draw 2.7s ease-in-out forwards;
}
@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
#why .lollipop {
  position: absolute;
  right: 0;
  z-index: -1;
  bottom: -27rem;
}
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 30%, 0);
    -o-transform: translate3d(0, 30%, 0);
    -ms-transform: translate3d(0, 30%, 0);
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 30%, 0);
    -o-transform: translate3d(0, 30%, 0);
    -ms-transform: translate3d(0, 30%, 0);
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 30%, 0);
    -o-transform: translate3d(0, 30%, 0);
    -ms-transform: translate3d(0, 30%, 0);
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 30%, 0);
    -o-transform: translate3d(0, 30%, 0);
    -ms-transform: translate3d(0, 30%, 0);
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
#advantages {
  z-index: 4;
  background-color: #381d53;
  min-height: 105rem;
}
#advantages .upward-cloud {
  background-image: url("../images/sprite-lightpurple.png");
}
#advantages .pop1 {
  top: -8rem;
  left: 8rem;
}
#advantages .pop2 {
  top: 4rem;
  left: 0;
}
#advantages .bln {
  right: 7rem;
  bottom: -8rem;
}
#advantages .center-content {
  position: relative;
}
#advantages img {
  position: absolute;
}
#advantages .themes {
  width: 61%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
#advantages .huge {
  font-size: 27.681rem;
  color: #7f3f98;
  display: inline-block;
  vertical-align: top;
  width: auto;
}
#advantages .propaganda {
  margin-top: 18.5rem;
}
#advantages .choices {
  display: inline-block;
  vertical-align: top;
  width: auto;
  color: #fff;
  font-size: 4.26rem;
}
#advantages .choices span {
  font-size: 7.66rem;
  color: #cbdb2a;
  display: block;
}
#advantages .choices b {
  letter-spacing: 1.4rem;
}
#advantages .parties {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  text-align: left;
  position: relative;
}
#advantages .parties .rotated {
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 5.645rem;
  color: #fff;
  position: absolute;
  left: -12rem;
  top: 9rem;
}
#advantages .parties .number-of {
  color: #7f3f98;
  font-size: 23.232rem;
  vertical-align: top;
  display: inline-block;
  vertical-align: top;
  width: 57%;
  line-height: 3rem;
  text-align: right;
  margin-top: 10rem;
}
#advantages .parties .number-of b {
  font-size: 2.465rem;
  color: #cbdb2a;
}
#advantages .parties span:first-of-type {
  font-size: 27.157rem;
  display: inline-block;
  vertical-align: top;
  color: #7f3f98;
}
#advantages .fun {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  text-align: center;
  position: relative;
}
#advantages .fun .rotated {
  color: #cbdb2a;
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 5.728rem;
  letter-spacing: 0.3rem;
  position: absolute;
  left: 1rem;
  top: 10.8rem;
}
#advantages .fun span:first-of-type {
  font-size: 30rem;
  color: #7f3f98;
  display: inline-block;
  vertical-align: top;
  margin-left: 10rem;
}
#advantages .fun .hours {
  font-size: 22.47rem;
  color: #7f3f98;
  display: inline-block;
  vertical-align: top;
  width: 48%;
  line-height: 4rem;
  margin-top: 10.5rem;
}
#advantages .fun .hours b {
  color: #fff;
  font-size: 3.576rem;
}
#advantages .toy {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 35%;
}
#advantages .toy .huge-toy {
  font-size: 29.911rem;
  letter-spacing: -0.2rem;
  color: #cbdb2a;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 0rem;
}
#advantages .toy .meters {
  display: inline-block;
  vertical-align: top;
  font-size: 2.653rem;
  color: #fff;
  position: absolute;
  right: 0;
  top: 2.8rem;
  text-align: center;
}
#advantages .toy .meters span {
  font-size: 7.3rem;
  line-height: 6.7rem;
  color: #7f3f98;
}
#advantages .toy .meters span span {
  color: #fff;
}
#happening {
  background-color: #84419c;
  min-height: 132.5rem;
  text-align: center;
}
#happening .test {
  display: none;
}
#happening h1 {
  font-size: 8.2rem;
  color: #fd0;
  margin-top: 7rem;
  text-shadow: 0 1px 0 #bb980c, 0 2px 0 #bb980c, 0 3px 0 #bb980c, 0 4px 0 #bb980c, 0 5px 0 #bb980c, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1), 0 3px 5px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1), 0 20px 20px rgba(0,0,0,0.1);
}
#happening h2 {
  color: #fff;
  font-size: 3rem;
  margin-top: 2.5rem;
}
#happening .instagram-feed {
  position: relative;
  margin-top: 15rem;
}
#happening .instagram-feed .row {
  clear: both;
}
#happening .instagram-feed .row:after {
  clear: both;
}
#happening .instagram-feed object {
  position: absolute;
  left: 0;
}
#happening .instagram-feed object:first-of-type {
  top: -6.2rem;
}
#happening .instagram-feed object:last-of-type {
  bottom: -51.3rem;
}
#happening .instagram-feed .column {
  width: 25%;
  float: left;
  background: #804099 url("../images/meno.jpg") no-repeat center center;
  min-height: 48rem;
  background-size: cover;
  position: relative;
}
#happening .instagram-feed .column:hover .overlay {
  opacity: 1;
}
#happening .instagram-feed .overlay {
  background-color: rgba(71,47,96,0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#happening .instagram-feed .overlay p {
  font-size: 4.8rem;
  color: #fd0;
  line-height: 2.2rem;
  margin: 15rem 0 2% 0;
}
#happening .instagram-feed .overlay span {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #fff;
}
#happening .instagram-feed .btn-round {
  display: block;
  background-color: transparent;
  border: 0.4rem solid #fff;
  color: #fff;
  box-shadow: none;
  width: 18.5rem;
  margin: 4rem auto 0 auto;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#happening .instagram-feed .btn-round:hover {
  background-color: #fff;
  color: rgba(71,47,96,0.9);
}
#types {
  background: transparent url("../images/bg-pink.jpg") no-repeat center center;
  min-height: 92rem;
  text-align: center;
}
#types h1 {
  color: #00b9f2;
  font-size: 7.4rem;
  padding-top: 12rem;
  text-shadow: 0 1px 0 #187ca0, 0 2px 0 #187ca0, 0 3px 0 #187ca0, 0 4px 0 #187ca0, 0 5px 0 #187ca0, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1), 0 3px 5px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1), 0 20px 20px rgba(0,0,0,0.1);
}
#types .carousel {
  margin-top: 10rem;
}
#types .type {
  min-height: 44rem;
  float: left;
  width: 21.2%;
  text-align: center;
  background: transparent url("../images/type-bg.svg") no-repeat center center;
  padding: 2rem;
}
#types .type:focus {
  outline: none;
}
#types .type.fix h2 {
  margin: 2rem auto 1rem auto;
}
#types .type.adjust h2 {
  margin: 3rem auto 1rem auto;
}
#types .type img {
  max-width: 100%;
  display: inline-block;
}
#types .type h2 {
  color: #fff;
  font-size: 2.8rem;
  margin: 3rem auto;
}
#types .type p {
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Asap';
  width: 80%;
  margin: 0 auto 2.4rem auto;
}
#types .type .btn-round {
  background-color: #00b9f2;
  display: inline-block;
  margin: 0 auto;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#types .type .btn-round:hover {
  color: #fd0;
  background-color: #fff;
  box-shadow: none;
}
#map {
  min-height: 67rem;
}
body.intern {
  background: #84419c url("../images/circled-bg-transparent.png") no-repeat top center;
}
.intern {
  position: relative;
  background: #84419c url("../images/circled-bg-transparent-upwards.png") no-repeat center 120%;
}
.information p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #fff;
  font-family: 'Asap';
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 693px) {
  .information p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}
.information h1 {
  font-size: 3.6rem;
  color: #cbdb2a;
  line-height: 4rem;
  margin-bottom: 4.5rem;
  width: 52%;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  .information h1 {
    width: 68%;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  .information h1 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 693px) {
  .information h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
  }
}
.information h1 span {
  color: #fff;
}
.centered {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  .centered {
    width: 90%;
  }
}
#description {
  min-height: 60rem;
}
@media screen and (max-width: 693px) {
  #description {
    min-height: 120rem;
  }
  #description .btn-round {
    margin: 2rem auto;
    display: block;
    width: 80%;
  }
}
#description article {
  display: inline-block;
  vertical-align: top;
  width: 49.55%;
}
#description article:first-of-type {
  padding-right: 5rem;
}
@media screen and (max-width: 693px) {
  #description article {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #description article:first-of-type {
    padding-right: 0;
  }
}
#get-to-know-us {
  min-height: 85rem;
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  #get-to-know-us {
    text-align: center;
    min-height: 125rem;
  }
}
#get-to-know-us .type {
  background: url("../images/small-type.png") no-repeat center center;
  float: left;
  min-height: 43.8rem;
  width: 23%;
  text-align: center;
}
#get-to-know-us .type + .type {
  margin-left: 2.66%;
}
#get-to-know-us .type:after {
  clear: both;
}
#get-to-know-us .type h2 {
  font-size: 3.2rem;
  line-height: 2.8rem;
  color: #fff;
  margin-bottom: 1rem;
}
#get-to-know-us .type p {
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #fff;
  width: 83%;
  margin: 0 auto;
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  #get-to-know-us .type p {
    width: 65%;
  }
}
#get-to-know-us .type img {
  margin: 6rem auto 2rem auto;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  #get-to-know-us .type {
    width: 24.25%;
  }
  #get-to-know-us .type + div.type {
    margin-left: 1%;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  #get-to-know-us .type {
    width: 48%;
  }
  #get-to-know-us .type:nth-of-type(3) {
    clear: both;
    margin-left: 0;
  }
}
@media screen and (max-width: 693px) {
  #get-to-know-us .type {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-position: top center;
    min-height: 32rem;
  }
  #get-to-know-us .type + .type {
    margin-left: 0;
  }
  #get-to-know-us .type img {
    max-width: 75%;
    margin: 1rem auto;
    display: block;
  }
}
#parties {
  min-height: 70rem;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  #parties {
    min-height: 50rem;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  #parties {
    text-align: center;
    min-height: 48rem;
  }
}
@media screen and (max-width: 693px) {
  #parties {
    min-height: 155rem;
  }
}
#parties p {
  width: 47%;
}
#parties p a {
  color: #fff;
  font-family: 'Asap';
  text-decoration: underline;
  font-weight: bold;
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  #parties p {
    width: 100%;
  }
}
@media screen and (max-width: 693px) {
  #parties p {
    width: 100%;
  }
}
#parties h1 {
  width: 100%;
}
#parties .centered {
  position: relative;
}
.kid-slide {
  position: absolute;
  right: 0;
  bottom: -34rem;
  z-index: 0;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  .kid-slide {
    width: 90%;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  .kid-slide {
    display: none;
  }
}
@media screen and (max-width: 693px) {
  .kid-slide {
    display: none;
  }
}
#attractions {
  min-height: 120rem;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  #attractions {
    min-height: 140rem;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  #attractions {
    min-height: 170rem;
  }
}
#attractions .attraction-grid {
  padding-top: 4rem;
}
#attractions button {
  float: left;
  background: transparent url("../images/atracoes-button.svg") no-repeat center center;
  width: 13%;
  min-height: 15rem;
  border: 0;
  color: #fff;
  font-size: 2.5rem;
  line-height: 2.4rem;
  font-family: 'Bosque Regular';
  margin-bottom: 3.5rem;
  text-shadow: 0.2rem 0.2rem 0.4rem #6d6e71;
  cursor: pointer;
}
#attractions button:focus {
  outline: 0;
}
#attractions button + button {
  margin-left: 4.4%;
}
#attractions button:nth-of-type(6n+7) {
  margin-left: 0;
}
#attractions button:last-of-type:after {
  clear: both;
}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  #attractions button {
    width: 17%;
    font-size: 2rem;
  }
  #attractions button + button {
    margin-left: 3%;
  }
  #attractions button:nth-of-type(6n+7) {
    margin-left: 3%;
  }
  #attractions button:nth-of-type(5n+6) {
    margin-left: 0;
  }
}
@media screen and (min-width: 694px) and (max-width: 997px) {
  #attractions button {
    width: 22%;
    font-size: 2rem;
  }
  #attractions button + button {
    margin-left: 4%;
  }
  #attractions button:nth-of-type(6n+7) {
    margin-left: 3%;
  }
  #attractions button:nth-of-type(4n+5) {
    margin-left: 0;
  }
}
@media screen and (max-width: 693px) {
  #attractions button {
    width: 100%;
    display: block;
    font-size: 2rem;
    background-size: 90%;
    min-height: 18rem;
  }
  #attractions button + button {
    margin-left: 0;
  }
}
.contain .thumbnails img {
  max-width: 100%;
}
