/*
 SLICK CSS FILE
 Version: 1.6.0
  Author: Ken Wheeler
 Website: http://kenwheeler.github.io
    Docs: http://kenwheeler.github.io/slick
    Repo: http://github.com/kenwheeler/slick
  Issues: http://github.com/kenwheeler/slick/issues

  */

  /* Slider */
  .slick-slider
  {
  	position: relative;

  	display: block;
  	box-sizing: border-box;

  	-webkit-user-select: none;
  	-moz-user-select: none;
    -ms-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list
  {
  	position: relative;

  	display: block;
  	overflow: hidden;

  	margin: 0;
  	padding: 0;
  }
  .slick-list:focus
  {
  	outline: none;
  }
  .slick-list.dragging
  {
  	cursor: pointer;
  	cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
  	-webkit-transform: translate3d(0, 0, 0);
  	-moz-transform: translate3d(0, 0, 0);
  	-ms-transform: translate3d(0, 0, 0);
  	-o-transform: translate3d(0, 0, 0);
  	transform: translate3d(0, 0, 0);
  }

  .slick-track
  {
  	position: relative;
  	top: 0;
  	left: 0;
    display: block;
  }

  .slick-track:before,
  .slick-track:after
  {
   display: table;

   content: '';
 }
 .slick-track:after
 {
   clear: both;
 }
 .slick-loading .slick-track
 {
   visibility: hidden;
 }

 .slick-slide
 {
   display: none;
   float: left;

   height: 100%;
   min-height: 1px;
 }
 [dir='rtl'] .slick-slide
 {
   float: right;
 }
 .slick-slide img
 {
   display: block;
 }
 .slick-slide.slick-loading img
 {
   display: none;
 }
 .slick-slide.dragging img
 {
   pointer-events: none;
 }
 .slick-initialized .slick-slide
 {
   display: block;
 }
 .slick-loading .slick-slide
 {
   visibility: hidden;
 }
 .slick-vertical .slick-slide
 {
   display: block;
   height: auto;
   border: 1px solid transparent;

 }

 .slick-slide {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.slick-slide:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.slick-arrow.slick-hidden {
 display: none;
}



/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */


 .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

    .hamburger-box {
      width: 30px;
      height: 24px;
      display: inline-block;
      position: relative; }

      .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px; }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          width: 30px;
          height: 3px;
          background-color: #ef5197;
          border-radius: 4px;
          position: absolute;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          transition-duration: 0.15s;
          transition-timing-function: ease; }
          .hamburger-inner::before, .hamburger-inner::after {
            content: "";
            display: block; }
            .hamburger-inner::before {
              top: -10px; }
              .hamburger-inner::after {
                bottom: -10px; }

/*
 * 3DY
 */
 .hamburger--3dy .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px; }

  .hamburger--3dy .hamburger-inner {
    transition: background-color 0 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
      transition: -webkit-transform 0 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

      .hamburger--3dy.is-active .hamburger-inner {
        background-color: transparent;
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg); }
        .hamburger--3dy.is-active .hamburger-inner::before {
          -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg); }
          .hamburger--3dy.is-active .hamburger-inner::after {
            -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
            transform: translate3d(0, -10px, 0) rotate(-45deg); }