footer 
	min-height 48rem 
	background-color purple 
	position relative
	text-align center
	
	// .arrow-top 
	// 	fill: #cbdb2a;
	// 	fill-rule: evenodd;
			
	.footer-cloud 
		position absolute
		top -14rem
		left 0
		
	path.cls-1
		fill white
			
	a 
		&:first-of-type 
			display block
			width 12rem 
			margin 0 auto
			padding-top 3rem
			text-align center
			color white
			font-size 1.8rem 
			
			// &:hover path.arrow-top
			// 	fill yellow 
				
			
	p
		color white 
		text-align center
		
		&.phone
			color lemon
			font-size 3.6rem 
			margin 7rem auto 2rem auto
		
		&:nth-of-type(2)
			font-size 1.8rem 
			
		&:nth-of-type(3)
			font-size 1.6rem 
			margin 10rem auto 2rem auto
			
			 
			
		