header.circled 
	margin auto 
	width 100%
	
	
	&.negative
		z-index -3 
	
	.logo 
		background transparent url('../images/logo.png') no-repeat center center 
		display block
		margin 0 auto 
		width 42rem 
		height 32rem
		
		@media mobile 
			width 80% 
			background-size contain
		
