@media small-desktop	
	// MENU 
		
	.fixed
		.open-menu 
			.menu-vector 
				margin 2rem auto 
				
			#links
				ul
					li 
						a 
							line-height 3.5rem 
			
			.number
				margin 2rem auto 1rem auto
				
			#wpp-open
				font-size 15rem 
				
				i 
					padding-top 1rem 
					
				p 
					&:last-of-type
						margin-bottom 7rem
						
					span 
						margin 0.5rem auto 1rem auto
						
			#prime-events
				img 
					margin-bottom 22rem 
					
				p 
					&:first-of-type
						margin 5rem auto 2.5rem auto
						
	//ENDMENU
					
	// STARTHOMESMALL
	main 
		
		#opening 
			h1 
				width 53% 
				font-size 3.6rem 
				line-height 3.4rem 
				
			h2 
				width 39% 
				
			
		#features 
			h1 
				font-size 5.9rem 
				width 100% 
				
			.feature-grid 
				li 
					min-height 44rem
					
					.circle-contain 
						margin 12rem auto 0 auto 

					.is-hovered-text 
						top 25rem 

					.is-hovered-link 
						top 37rem 

					.is-hovered-graphic 
						top 1rem 

					.is-hovered-label
						top 18rem
									
		#budget 
			h1 
				width 87% 
				
		#why
			min-height 115rem 
			
			h1 
				span 
					font-size 9rem 
				
			 
			.lollipop
				width 22% 
				
			.perks-grid
				.column 
					min-height 35rem
					
		#advantages 
			min-height 85rem 
			
			.propaganda 
				margin-top 17.5rem 
				text-align center
				
			.themes 
				width 49% 
				text-align center
				height 12rem
				
			.huge 
				font-size 17.991rem
				
			.choices 
				font-size 3.26rem
				margin-top 2rem 
				
				span 
					font-size 3.66rem 
					
				b 
					letter-spacing 0.5rem 
					
			.parties 
				width 40% 
				text-align left
				
				.rotated 
					font-size 3.662rem 
					top 7rem 
					left -8rem 
					
				span 
					&:first-of-type 
						font-size 19.6rem
				
				.number-of
					font-size 15.9rem 
					width 57% 
					margin-top 6.5rem
					text-align left
					line-height 3rem 
					
					b 
						font-size 1.6rem 
			
			.fun 
				width 51% 
				text-align center 
				
				.rotated 
					left -3rem 
					top 11.5rem 
					font-size 3.716rem 
					letter-spacing 0.3rem 
					
				span 
					&:first-of-type
						font-size 20.94rem 
						margin-left 0rem 
						margin-top 4rem
						
				.hours 
					font-size 16.6rem 
					width 53% 
					line-height 4rem 
					margin-top 9.5rem
					
					b 
						font-size 2.324rem  
					
			.toy 
				width 35% 
				
				.huge-toy 
					font-size 19.4rem 
					letter-spacing -0.2rem 
					left -7rem 
					top 4rem 
					
				.meters 
					font-size 1.724rem 
					right 12rem 
					top 6.8rem 
					text-align center
					
					span 
						font-size 4.457rem 
						line-height 4rem
									
		#happening 
			min-height 103.5rem 
			
			.instagram-feed 
				.column
					min-height 34rem
					
				object
					&:last-of-type 
						bottom -36.4rem
					
				.overlay
					p 
						margin 10rem 0 2% 0
						line-height 3.2rem 
						
		#types 
			.type 
				p 
					width 70%
						
	//ENDHOMESMALL
	//-------------------------------------			
			
@media tablet
					
		
	//STARTHOMETABLET
	//-------------------------------------
	main 
		#opening
			.forward-girls 
				display none
				
			h1 
				width 100% 
				text-align center
				font-size 4.7rem 
				line-height 4rem 
				
			h2 
				width 100% 
				text-align center
				margin 4rem auto
				
			img 
				width auto 
				max-width initial
				
				
			.btn-round 
				display block 
				margin 0 auto
				width 18rem 
				
		#features
			h1 
				font-size 4rem
				width 100% 
				
			.feature-grid
				li 
					min-height 47rem 
					
					&:hover 
						.is-hovered-label
							width 24rem
					
					.circle-contain
						margin 18rem auto 0 auto
						
					.is-hovered-graphic 
						top 1rem 
						
						svg.forma 
							bottom auto 
							
					.is-hovered-label
						top 18rem 
						
					.is-hovered-text
						top 24rem 
						
					.is-hovered-link 
						top 41rem 
						
		#budget 
			h1 
				font-size 4rem 
				width 51%
				line-height 4.4rem 
				
		#why 
			h1 
				font-size 4rem
				line-height 4rem 
				 
				span
					font-size 6rem 
					font-size 6rem 
					letter-spacing -0.5px
					
			.perks-grid 
				width 100% 
				
				.column
					min-height 40rem
					width 49%
					margin 0
					
					&:nth-of-type(3n+1)
						margin 0
						
					&:nth-of-type(3n+3)
						margin 0
					
			.lollipop
				display none
				
		#advantages 
			min-height 77rem 
			
			.pop1 
				top -11rem 
				left 2rem 
				
			.pop2 
				display none
			
			.propaganda 
				margin-top 11.5rem 
				text-align center
				
			.themes 
				width 59% 
				text-align center
				height auto
				
			.huge 
				font-size 16.991rem
				
			.choices 
				font-size 2.26rem
				margin-top 2rem 
				
				span 
					font-size 3.66rem 
					
				b 
					letter-spacing 0.5rem 
					
			.parties 
				width 40% 
				text-align left
				
				.rotated 
					font-size 3.662rem 
					top 5rem 
					left -8rem 
					
				span 
					&:first-of-type 
						font-size 17.6rem
				
				.number-of
					font-size 13.9rem 
					width 57% 
					margin-top 6.5rem
					text-align left
					line-height 2rem 
					
					b 
						font-size 1.6rem 
			
			.fun 
				width 51% 
				text-align center 
				
				.rotated 
					left -6rem 
					top 9.5rem 
					font-size 3.716rem 
					letter-spacing 0.3rem 
					
				span 
					&:first-of-type
						font-size 17.94rem 
						margin-left 0rem 
						margin-top 4rem
						
				.hours 
					font-size 13.6rem 
					width 53% 
					line-height 3rem 
					margin-top 9.5rem
					text-align left
					
					b 
						font-size 1.6rem  
					
			.toy 
				width 35% 
				
				.huge-toy 
					font-size 17.4rem 
					letter-spacing -0.2rem 
					left -1rem 
					top 4rem 
					
				.meters 
					font-size 1.724rem 
					right -2rem 
					top 4.8rem 
					text-align center
					
					span 
						font-size 4.457rem 
						line-height 4rem
				
		#happening
			min-height 182.5rem
			
			h1 
				font-size 5rem 
				width 100%
				
			h2 
				font-size 2rem 
				
			.instagram-feed
				.column
					width 50%
					min-height 37rem
					
				object 
					&:last-of-type
						bottom -79.3rem 
						
		#types 
			.type 
				&.fix 
					h2 
						width 90%				
		//ENDHOMETABLET
		//--------------------------------------------
						

@media mobile
				
	.fixed 
		 
		.open-menu 
			overflow-y scroll
			
			.menu-vector
				margin 2rem auto 
				
			.number 
				margin 2rem auto
				
			#links 
				ul 
					li 
						a 
							line-height 4rem 
							
			#wpp-open
				margin-bottom 7rem 
				
				.fa 
					font-size 10rem 
					padding-top 1rem
					
				p
					font-size 1.6rem 
					
					span 
						font-size 3rem 
						line-height 4rem 
						margin 0 auto
						
					&:last-of-type
						font-size 2.6rem 
						
			#prime-events
				p
					margin 4rem auto 2rem auto 
				
				img 
					margin-bottom 12rem 
					

					

						
		
	main 
					
		#opening 
			text-align center
			
			.logo
				width 28rem
			
			h1 
				font-size 2.6rem 
				text-align center
				width 100% 
				line-height 2.4rem
				padding-top 18rem 
				
			h2 
				width 100% 
				font-size 1.2rem 
				line-height 1.6rem
				text-align center
				
			.forward-girls
				display none
				
			.upward-cloud 
				left 0
				width 100% 
				max-width initial
				bottom 0
				
				
		#features
			h1 
				width 100% 
				font-size 2.6rem
				line-height 2.6rem
				padding-top 5rem 
				margin 0 auto 10rem auto
				
			.feature-grid 
				li 
					width 100%
					display block
					margin 0 auto
					min-height 45rem 
					
					.circle-contain
						margin 12rem auto 0 auto
						
					.is-hovered-text
						top 25rem 
						
					.is-hovered-link
						top 37rem 
						
					.is-hovered-graphic
						top 1rem 
						
					.is-hovered-label
						top 18rem
					
					
		#budget
			height 80rem 
			
			h1 
				font-size 3.4rem 
				line-height 3.4rem 
				width 100% 
				padding-top 10rem
				
			h2 
				font-size 1.6rem 
				line-height auto 
				width 100%
				
			.upward-cloud
				bottom 10rem
							
				
		#why 
			min-height 65rem
			margin-top -10rem
									
			h1 
				font-size 1.8rem 
				line-height 2.64rem 	
				
				span 
					font-size 2.8rem 
					line-height 2.64rem 
					
			.perks-grid
				.column 
					display block 
					width 100% 
					margin 0 auto 
					text-align center
					
					&:nth-of-type(3)
						svg 
							margin 0 auto 
							top 2.3rem 
							
					&:nth-of-type(4)
						svg 
							top: 3.3rem
							
					
					img 
						margin 0 auto
						
					svg 
						margin 0 auto 
						top 2.3rem 
					
			.center-content 
				max-width 100%
				
			.lollipop
				display none
				
			.hide 
				display none
				
		#advantages
			display none
				
		#happening
			min-height 125.5rem 
			
			.center-content
				max-width 28rem 
				
			h1 
				font-size 4rem 
				width 100%
				line-height 4rem
				
			h2 
				font-size 2rem 
				line-height auto
				width 100%
				
			.instagram-feed
				margin-top 7rem 
			
				.row
					&:last-of-type
						display none
						
					.column 
						width 100% 
						display block
						margin 0 auto
						min-height 38rem
				
				object:last-of-type
					bottom -154.3rem
					
		#types 
			.center-content
				max-width 28rem
				
			.next 
				right -4rem 
				
			.prev 
				left -4rem 
				
	footer
		min-height 51rem 
		 
		.center-content 
			max-width 24rem 
			

@media screen and (max-height : small-height)
	body 
		.fixed 
			.open-menu 
				
				#wpp-open
					i 
						margin-bottom 1rem 
						
				.number
					margin 2rem auto 0rem auto
					

				#prime-events
					p
						margin 2rem auto 2.5rem auto
					
					img 
						margin-bottom 6rem
						
				#links 
					ul 
						li 
							a 
								line-height 3rem 
			 
			
			
		
			
				
			
				
			
					
				

				 	
				
				

					
				

						