//COMMON
//-------------------------------------------------

br = 'Bosque Regular'
purple = #381d53
bgpurple = #84419c
lightpurple = #804099
lighterpurple = #7f3f98 
lemon = #cbdb2a
yellow = #ffdd00
orangey = #ffcb05
red = #ff0000
container = 130rem 
icon-gutter = 6.7rem 
asap = 'Asap'


//BREAKPOINTS 
//-------------------------------------------------

small-desktop-max = 1400px
small-desktop-min = 998px
tablet-max = 997px
tablet-min = 694px 
mobile-max = 693px 
small-height = 500px

small-desktop = 'screen and (min-width: small-desktop-min) and (max-width: small-desktop-max)'
tablet = 'screen and (min-width: tablet-min) and (max-width: tablet-max)'
mobile = 'screen and (max-width: mobile-max)'
small-height = 'screen and max-height: small-height'


