.btn-round 
	padding 1.2rem 2.5rem 
	background-color yellow 
	color white 
	font-family br 
	font-size 2.4rem 
	-webkit-box-shadow: inset 1px -12px 0px -8px rgba(177, 156, 47, 1);
	-moz-box-shadow: inset 1px -12px 0px -8px rgba(177, 156, 47, 1);
	box-shadow: inset 1px -12px 0px -8px rgba(177, 156, 47, 1);
	border-radius 2rem 
	
.prev, .next 
	background transparent url('../images/carousel-arrow.png') no-repeat center center
	border 0  
	height 7rem
	width 4rem 
	position absolute
	cursor pointer
	transition(transform 0.3s ease-in-out)
	
	&:focus
		outline none
		
		
.prev 
	left -8rem
	top 40%
	
	&:hover 
		transform(scale(1.2))
	
.next 
	right -8rem
	top 40%
	transform(rotate(180deg))
	
	&:hover 
		transform(scale(1.2) rotate(180deg))
	




