.lightbox
	width 100% 
	background-color rgba(203, 219, 42, 9)
	position fixed
	top 0
	left 0
	height 100vh
	z-index 10
	text-align center
	display none
	
	h2 
		color white 
		font-size 4.4rem 
		line-height 3.3rem
		margin 8.8rem auto 6rem auto
		
		@media mobile 
			margin 5rem auto 3rem auto
			font-size 3rem
			width 80%
		
	.close 
		position absolute
		right 0
		top 0
		background transparent 
		border 0
		font-size 3rem
		color white
		cursor pointer
		transition(all 0.3s ease-in-out)
		
		&:hover
			color black
			
		@media mobile 
			top -3rem
			right 1rem 
		
	.next 
		right 0
		top 50% 
		
	.prev 
		left 0 
		top 50%
	
	.picture 
		height 40rem
		
		@media small-desktop
			height 30rem
			
		@media tablet 
			height 30rem
			
		@media mobile 
			height 30rem


		img 
			max-width 100%
			max-height 100%
			
	ul 
		width 60% 
		margin 3% auto 0 auto
		
		li 
			float left 
			width 20%
			min-height 10rem
			cursor pointer
			
			& + li 
				margin-left 6.6%
				
			&:nth-of-type(4n+5)
				margin-left 0
				
			img 
				max-width 100%
				
			@media mobile
				width 30%
				
				& + li 
					margin-left 4%
				

						
.contain 
	width 120rem 
	position relative
	margin 0 auto 
	
	@media small-desktop 
		max-width 98rem
		
	@media tablet 
		max-width 68rem
		
	@media mobile 
		max-width 30.6rem
		