.fixed 
	position fixed
	left -28rem
	top 0 
	z-index 10
	height 100vh 
	width 28rem
	
.menu-item 
	position absolute
	right -5rem 
	border 0
	cursor pointer
	background transparent
	display block
	
	&:focus
		outline 0
	
	&.hamburger 
		padding 0
	
	.hamburger-box
		position absolute
		top 8.1rem
		left 1.3rem
		
	.fa 
		position absolute
		font-size 2.6rem 
		color white
		left 2rem
		top 8rem
		transition(0.2s ease-in-out)
		text-shadow .2rem .2rem .7rem #6d6e71
		
		&.fa-times
			display none
			
		
	svg 

		path
			transition(fill 0.2s ease-in-out)
				

				
	&:not(#main)
		width 5.7rem
		height 11.4rem 
		
	&.is-active 
		svg
			path 
				fill #fff
				
		i:not(.fa-times)
			display none
			
		img 
			display none
		
		i.fa-times
			display block
			color #000
			text-shadow initial
			
											
			
#main 
	width 7rem 
	height 15.5rem 
	z-index 5
	right -6.5rem
	
	&:hover svg
		fill #fff
	
	svg 
		fill #220237
		
		
#wpp 
	z-index 4
	top 10rem 
	
	&:hover svg 
		fill #409247
	
	svg 
		fill #56cb60
		
		
		
	
#fb 
	z-index 3
	top 16.5rem
	
	&:hover svg 
		fill #31497c
	
	svg 
		fill #3b5999

	
#insta 
	top 23rem 
	z-index 2
	
	&:hover svg
		fill #c2275b
	
	svg 
		fill #df306b
		
	.fa 
		top 7.5rem 
		left 1.7rem 

#events
	top 29rem 
	z-index 1
	
	
		
	&:hover svg
		fill #81776b
	
	svg 
		fill #968a7c
		
	img 
		position absolute
		top 7.5rem 
		left 1.7rem
		
.open-menu
	height 100vh 
	padding 1.2rem
	
	.number 
		position relative
		width 24rem 
		height 8rem
		margin 10rem auto 2rem auto 
		
		p
			font-size 3.2rem
			color white 
			position absolute
			top 1.7rem 
			left 3rem
			text-shadow .2rem .2rem .3rem #6d6e71 
		
			
	.address 
		font-size 1.6rem 
		color white 
		padding 0 2.5rem
	
	.stripe 
		height inherit 
		width .6rem 
		background-color rgba(0, 0, 0, 0.13);
		position absolute
		top 0
		right -0.5rem
		z-index 6
		opacity 0
		transition(opacity 0.3s ease-in-out)
		transition-delay 0.4s
	
	.menu-vector 
		display block
		margin 5rem auto
		box-shadow 0 0 17rem 1.3rem rgba(0, 0, 0, 0.75)
		-moz-box-shadow 0 0 17rem 1.3rem rgb(255, 255, 255)
		-webkit-box-shadow 0 0 17rem 1.3rem rgb(255, 255, 255)
		-ms-box-shadow 0 0 17rem 1.3rem rgb(255, 255, 255)
		border-radius 10rem
		

	.button 
		fill #ffcb05
		
	.instance 
		display none
		
	#links 
		border-top .3rem groove rgb(247, 113, 168)
		
		ul 
			li 
				border-bottom .3rem groove rgb(247, 113, 168)
			
				a 
					font-size 2rem 
					color white 
					line-height 5rem
					transition(0.2s ease-in-out)
					
					&:hover
						color yellow
					
					i 
						margin-right 1rem
						
	#wpp-open
		text-align center
		border-top 0.3rem groove #88FB92 
		 
		i 
			font-size 20rem 
			color white 
			text-shadow .2rem .2rem .7rem #6d6e71
			margin-bottom 3rem
			padding-top 6rem
			
		p
			font-size 2rem 
			line-height 1.4rem 
			color white
			text-shadow .2rem .2rem .4rem #6d6e71
			
			span
				font-size 4.4rem 
				line-height 4rem
				display block 
				margin .5rem auto 5rem auto
			
			&:last-of-type 
				font-size 3.4rem
				
				
	#prime-events
		border-top 0.3rem groove #aca298
		text-align center
		
		p 
			font-family asap 
			font-size 1.6rem 
			color white 
			text-shadow .3rem .3rem .4rem #6d6e71
			
			&:first-of-type 
				margin 18rem auto 2.5rem auto
				
			&:last-of-type
				padding 0 2rem
				
			
		span 
			padding 2rem 
			border-radius .4rem 
			background-color #fff 
			color #968a7c
			font-size 3rem 
			font-family asap 
			display block 
			margin 0 auto 2rem auto
			text-align center
			
		img 
			max-width 100%
			margin-bottom 33rem
			
			
	
		
		
										
.green
	background-color #56cb60
	
.brown 
	background-color #968a7c
	
.pink 
	background-color #ef5ba1
					
	
		
	