#attractions 
	min-height 120rem
	
	@media small-desktop 
		min-height 140rem
		
	@media tablet 
		min-height 170rem 
		
	
	.attraction-grid 
		padding-top 4rem
	
	button 
		float left 
		background transparent url('../images/atracoes-button.svg') no-repeat center center
		width 13% 
		min-height 15rem
		border 0
		color white 
		font-size 2.5rem 
		line-height 2.4rem 
		font-family br
		margin-bottom 3.5rem
		text-shadow .2rem .2rem .4rem #6d6e71
		cursor pointer
		
		&:focus 
			outline 0
		
		& + button 
			margin-left 4.4%
			
		&:nth-of-type(6n+7)
			margin-left 0
	
		&:last-of-type:after 
			clear both
			
		@media small-desktop 
			width 17% 
			font-size 2rem
			
			& + button 
				margin-left 3%	
				
			&:nth-of-type(6n+7)
				margin-left 3%
				
			&:nth-of-type(5n+6)
				margin-left 0
				
		@media tablet 
			width 22% 
			font-size 2rem 
			
			& + button 
				margin-left 4%
				
			&:nth-of-type(6n+7)
				margin-left 3%
				
			&:nth-of-type(4n+5)
				margin-left 0
				
		@media mobile 
			width 100% 
			display block
			font-size 2rem
			background-size 90% 
			min-height 18rem
			
			
			& + button 
				margin-left 0
				

				

				

.contain 
	.thumbnails
		img 
			max-width 100%
			

	