body.intern
	background bgpurple url('../images/circled-bg-transparent.png') no-repeat top center 


.intern 
	position relative
	background bgpurple url('../images/circled-bg-transparent-upwards.png') no-repeat center 120%
			
	
.information 
	p 
		font-size 1.8rem 
		line-height 2.4rem 
		color #fff 
		font-family asap 
		margin-bottom 3.5rem
		
		@media mobile 
			font-size 1.6rem
			line-height 1.8rem
			margin-bottom 2rem
			text-align center
		
		
	h1 
		font-size 3.6rem 
		color lemon 
		line-height 4rem
		margin-bottom 4.5rem
		width 52%
		
		@media small-desktop 
			width 68%
			
		@media tablet 
			width 100% 
			text-align center
			
		@media mobile 
			width 100% 
			text-align center
			font-size 3rem 
			line-height 3rem 
		
		span 
			color #fff 
			
.centered
	max-width 120rem 
	width 100% 
	margin 0 auto 
	
	@media small-desktop
		width 90% 

	
#description 
	min-height 60rem 
	
	@media mobile 
		min-height 120rem
		
		.btn-round
			margin  2rem auto
			display block
			width 80%
	
	article 
		display inline-block
		vertical-align top
		width 49.55% 
		
		&:first-of-type
			padding-right 5rem
			
		@media mobile 
			display block
			width 100% 
			margin 0 auto 
			text-align center
			
			&:first-of-type
				padding-right 0
		
			
#get-to-know-us
	min-height 85rem 
	
	@media tablet 
		text-align center
		min-height 125rem 
		
	
	.type 
		background url('../images/small-type.png') no-repeat center center
		float left 
		min-height 43.8rem 
		width 23%
		text-align center		
		
		& + .type 
			margin-left 2.66%
			
		&:after 
			clear both
			
		h2 
			font-size 3.2rem 
			line-height 2.8rem 
			color #fff 
			margin-bottom 1rem
			
		p 
			font-size 1.4rem 
			line-height 1.5rem 
			color #fff 
			width 83% 
			margin 0 auto
			
			@media tablet 
				width 65%
			
			
		img 
			margin 6rem auto 2rem auto
			
		@media small-desktop
			width 24.25% 
			
			& + div.type 
				margin-left 1%		
				
		@media tablet 
		
			width 48%
		
			&:nth-of-type(3)
				clear both
				margin-left 0
				
		@media mobile 
			display block
			width 100%
			margin 0 auto
			background-size contain
			background-position top center
			min-height 32rem
			
			& + .type 
				margin-left 0
			
			img 
				max-width 75% 
				margin  1rem auto 
				display block
				

			
#parties
	min-height 70rem
	position relative
	z-index 2
	
	@media small-desktop
		min-height 50rem
		
	@media tablet 
		text-align center
		min-height 48rem
		
	@media mobile 
		min-height 155rem
	
	p 
		width 47%
		
		a 
			color #fff
			font-family asap
			text-decoration underline 
			font-weight bold
			
		@media tablet 
			width 100%
			
		@media mobile
			width 100%
				
	h1 
		width 100%
		
	.centered
		position relative
		
			
.kid-slide 
	position absolute
	right 0
	bottom -34rem 
	z-index 0
	
	@media small-desktop
		width 90%
		
	@media tablet 
		display none
		
	@media mobile 
		display none