.panel 
	position relative
	overflow hidden
	
	&:first-of-type
		height 100vh
	
	.upward-cloud 
		position absolute
		z-index 2  
		background-repeat: repeat-x
		display: block
		height: 9.1rem
		position: absolute
		width: 100%
		z-index: 1
		height: 91px
		background-position: 0 0
		animation: bubble 1s steps(20) infinite alternate
		-webkit-animation: bubble 1s steps(20) infinite alternate
		-o-animation: bubble 1s steps(20) infinite alternate
		-moz-animation: bubble 1s steps(20) infinite alternate
		-ms-animation: bubble 1s steps(20) infinite alternate
		bottom 0
		
	@keyframes bubble 
		0% 
			background-position: 0 0
		
		100% 
			background-position: 0 -1820px
		
	
#opening 
	background-color #7f3f98

	img 
		max-width 100%
		
	.logo 
		right 0
		left 0 
		margin 0 auto
		position absolute
		
	.forward-girls 
		position absolute
		top 0 
		right 0
		max-height 100vh
		z-index 1 
		
	h1 
		font-family br 
		font-size 5.6rem 
		color lemon 
		line-height 5.4rem 
		padding-top 25rem
		width 63% 
		position relative
		z-index 2
		text-shadow 0 1px 0 #87941d, 
					0 2px 0 #87941d,
					0 3px 0 #87941d,
					0 4px 0 #87941d,
					0 5px 0 #87941d,
					0 6px 1px rgba(0,0,0,.1),
					0 0 5px rgba(0,0,0,.1),
					0 1px 3px rgba(0,0,0,.1),
					0 3px 5px rgba(0,0,0,.1),
					0 5px 10px rgba(0,0,0,.1),
					0 10px 10px rgba(0,0,0,.1),
					0 20px 20px rgba(0,0,0,.1)
		
		
	h2 
		line-height 2.4rem
		color white 
		font-size 2rem
		font-family asap
		width 38% 
		margin-top 4rem 
		position relative
		z-index 2
		margin 4rem 0 5.4rem 0
		
	.btn-round
		transition 0.3s ease-in-out
		
		&:hover 
			background-color white  
			-webkit-box-shadow: inset 1px -12px 0px -8px #BDBBB0
			-moz-box-shadow: inset 1px -12px 0px -8px #BDBBB0
			box-shadow: inset 1px -12px 0px -8px #BDBBB0 
			color lightpurple
			
	.upward-cloud
		background-image: url("../images/sprite-darkpurple.png")

		
		
#features 
	background-color purple 
	
	h1 
		font-size 6.4rem 
		color lemon 
		line-height 5.4rem 
		font-family br
		text-align center
		padding-top 10rem
		text-transform uppercase
		width 90%
		margin 0 auto 13rem auto
		text-shadow 0 1px 0 #87941d, 
					0 2px 0 #87941d,
					0 3px 0 #87941d,
					0 4px 0 #87941d,
					0 5px 0 #87941d,
					0 6px 1px rgba(0,0,0,.1),
					0 0 5px rgba(0,0,0,.1),
					0 1px 3px rgba(0,0,0,.1),
					0 3px 5px rgba(0,0,0,.1),
					0 5px 10px rgba(0,0,0,.1),
					0 10px 10px rgba(0,0,0,.1),
					0 20px 20px rgba(0,0,0,.1)
		
	.feature-grid 
		li 
			width 33.3%
			min-height 64rem
			display inline-block
			vertical-align top
			float left
			-webkit-box-shadow inset 0px -23px 58px 2px rgba(0,0,0,0.4)
			-moz-box-shadow inset 0px -23px 58px 2px rgba(0,0,0,0.4)
			box-shadow inset 0px -23px 58px 2px rgba(0,0,0,0.4)
			text-align center
			overflow hidden 
			position relative
			
			&:first-of-type 
				background purple url('../images/atracoes.jpg') no-repeat center center
				
			&:nth-of-type(2)
				background purple url('../images/estrutura.jpg') no-repeat center center
				
			&:last-of-type
				background purple url('../images/gastronomia.jpg') no-repeat center center	
				
			&:hover 
				h2 
					transform(translateY(50rem))
					
				.circle-contain
					transform(scale(0))
					transition(transform 0.3s ease-in-out)
					transition-delay 0s	
					
				.is-hovered-bg 
					transform(translateY(0))	
					transition-delay 0.3s
					
				.is-hovered-text
					transform(translateY(0))
					transition-delay 0.6s
					
				.is-hovered-link 
					transform(translateY(0))
					transition-delay 0.7s
					
				.is-hovered-graphic 
					transform(scale(1))
					transition-delay 0.8s
					
				.is-hovered-label 
					width 30rem 
					height 6rem 
					opacity 1
					transition-delay 1s
					
					span 
						opacity 1
						transition(opacity 0.3s ease-in-out 1s)
						

			h2 
				font-size 4rem 
				color white 
				font-family br
				text-align center
				text-transform uppercase
				transition(transform 0.3s ease-in-out)
				
			svg
				&.forma
					position absolute
					left 0
					right 0 
					margin auto
					animation rotate 3s linear infinite
					animation-play-state paused 
					transition(transform 0.3s ease-in-out)
					
				&.dotted 
					position absolute 
					left -1.1rem
					right 0 
					margin auto 
					top -1rem
									
			.circle-contain 
				height 22rem 
				width 22rem
				margin 32rem auto 0 auto
				display inline-block
				vertical-align top
				transition(transform 0.45s ease-in-out)
				transition-delay 0.8s
				
				
			.circle 
				height 11rem 
				width 11rem 
				border-radius 10rem 
				background-color transparent 
				margin 2rem auto 0 auto
				border .3rem solid white
				position relative
			
				svg
						
					&:last-of-type
						position absolute 
						top 0 
						right 0
						left 0
						margin 2.3rem auto
						
						
					@keyframes rotate 
						to 
							transform(rotate(360deg))
							
					@keyframes rotateBackwards 
						to 
							transform(rotate(-360deg))
							
			.is-hovered-bg 
				position absolute
				width 100% 
				height 100% 
				background-color rgba(196, 211, 43, 0.95)
				top 0 
				left 0
				transform(translateY(100%))
				transition(transform 0.35s ease-in-out) 
				transition-delay 0.3s
				text-align center
				
			.is-hovered-text 
				position absolute
				color white 
				font-family asap 
				font-size 1.8rem 
				transform(translateY(70rem))
				width 60% 
				margin 0 auto	
				transition(transform 0.45s ease-in-out)
				transition-delay 0.3s
				left 0
				right 0 
				top 37rem
				margin auto
		
			.is-hovered-link 
				position absolute
				top 47rem 
				left 0 
				right 0
				margin auto
				transform(translateY(70rem))
				transition(transform 0.45s ease-in-out)
				transition-delay 0.2s
				width 18rem
				background-color transparent 
				box-shadow none 
				border 0.3rem solid white
				
				&:hover 
					color rgba(196, 211, 43, 0.95)
					background-color white 
					transition-delay 0
					
			.is-hovered-graphic 
				position absolute
				top 10rem 
				left 0
				right 0 
				margin auto
				transition(transform 0.45s ease-in-out)
				transform(scale(0))
				
				.circle 
					width 16rem 
					height 16rem 
					margin 3rem auto 0 auto
				
				svg.dotted
					animation rotateBackwards 3s linear infinite
					left 0 
					right 0 
					margin auto 
					top 1.8rem 
				
				svg.forma
					animation rotate 3s linear infinite
				
			.is-hovered-label 
				position absolute
				top 27rem 
				left 0 
				right 0 
				margin auto
				width 0 
				height 0 
				transition(width 0.45s, height 0.45s, opacity 0.45s ease-in-out)
				transition-timing-function ease-in-out
				transition-delay 0.3s
				border-radius 1rem
				opacity 0
				background transparent url('../images/label-bg.png') no-repeat center center
				
				span 
					color rgba(196, 211, 43, 0.95)
					opacity 0 
					font-size 3.3rem 
					display block
					margin-top 1.4rem
									
							
		&:after
			clear: both  
			
#budget
	background transparent url('../images/section-bg2.jpg') no-repeat top center
	height 90rem
	 
	h1 
		color lemon 
		font-size 6.4rem 
		font-family br
		text-align center
		line-height 7rem 
		width 43% 
		margin 0 auto 6rem auto
		padding-top 15rem
		text-shadow 0 1px 0 #87941d, 
					0 2px 0 #87941d,
					0 3px 0 #87941d,
					0 4px 0 #87941d,
					0 5px 0 #87941d,
					0 6px 1px rgba(0,0,0,.1),
					0 0 5px rgba(0,0,0,.1),
					0 1px 3px rgba(0,0,0,.1),
					0 3px 5px rgba(0,0,0,.1),
					0 5px 10px rgba(0,0,0,.1),
					0 10px 10px rgba(0,0,0,.1),
					0 20px 20px rgba(0,0,0,.1)
		
	h2 
		color white 
		font-size 3rem 
		font-family br 
		text-align center
		width 56.538%
		margin 0 auto
		
	.btn-round 
		background-color red 
		-webkit-box-shadow: inset 1px -12px 0px -8px rgba(177, 21, 22, 1)
		-moz-box-shadow: inset 1px -12px 0px -8px rgba(177, 21, 22, 1)
		box-shadow: inset 1px -12px 0px -8px rgba(177, 21, 22, 1)
		display block
		margin 8.6rem auto 0 auto 
		max-width 17rem
		transition(all 0.3s ease-in-out)
		
		&:hover 
			color purple
			background-color white 
			-webkit-box-shadow: inset 1px -12px 0px -8px #BDBBB0
			-moz-box-shadow: inset 1px -12px 0px -8px #BDBBB0
			box-shadow: inset 1px -12px 0px -8px #BDBBB0 
		
	img 
		position absolute
		bottom 0
		
	.upward-cloud
		background-image: url("../images/sprite-white.png")
		bottom 17rem

#why 
	background white url('../images/circled-bg.jpg') no-repeat bottom center
	z-index 2
	min-height 108rem
	
	.upward-cloud
		background-image: url("../images/sprite-darkpurple.png")
	
	h1 
		color yellow 
		font-size 6.4rem 
		font-family br 
		margin 0 auto
		text-align center
		text-shadow 0 1px 0 #bb980c, 
					0 2px 0 #bb980c,
					0 3px 0 #bb980c,
					0 4px 0 #bb980c,
					0 5px 0 #bb980c,
					0 6px 1px rgba(0,0,0,.1),
					0 0 5px rgba(0,0,0,.1),
					0 1px 3px rgba(0,0,0,.1),
					0 3px 5px rgba(0,0,0,.1),
					0 5px 10px rgba(0,0,0,.1),
					0 10px 10px rgba(0,0,0,.1),
					0 20px 20px rgba(0,0,0,.1)
		
		span 
			display block
			font-size 10rem 
			font-family br
      
			

	.perks-grid 
		text-align center
		clear both
		width 96%
		margin 10rem auto 0 auto 
						
		.column 
			display inline-block
			vertical-align top 
			width 30%	
			position relative
			margin 0 2%
			min-height 35rem
			opacity 0
			
			&:nth-of-type(3n+1)
				margin-left 0
				
			&:nth-of-type(3n+3)
				margin-right 0
						
			svg 
				position absolute
				left 0 
				right 0 
				margin 2.3rem auto 
				
				path 
					stroke-width 1.5
					stroke white
					
			@keyframes draw 
				to  
					stroke-dashoffset 0
					
				
			&:nth-of-type(3)
				svg 
					margin 3.5rem auto
										
			h2 
				font-size 3.4rem 
				color lemon 
				font-family br
				margin-top 2rem
				
			p
				color #6d6e71
				font-size 1.8rem 
				font-family asap
				width 82% 
				margin 2rem auto 0 auto
				
			&.draw	
				animation fadeInUp 1s ease-in-out forwards
				
			
				&:first-of-type
					svg 
						path 
							stroke-dasharray 200px
							stroke-dashoffset 225px
							animation draw 3s ease-in-out forwards		
				
				&:nth-of-type(2) 
					svg 
						path
							stroke-dasharray 230px
							stroke-dashoffset 250px
							animation draw 3.2s ease-in-out forwards
													
				&:nth-of-type(3)
					svg 
						path 
							stroke-dasharray 280px
							stroke-dashoffset 300px
							animation draw 3s linear forwards
							
						circle 
							stroke-dasharray 80px
							stroke-dashoffset 100px
							animation draw 3s ease-in-out forwards	
							
				&:nth-of-type(4)
					svg 
						path
							stroke-dasharray 140px
							stroke-dashoffset 155px
							animation draw 2.7s ease-in-out forwards
				&:nth-of-type(5)
					svg
						path 
							stroke-dasharray 200px
							stroke-dashoffset 220px
							animation draw 2.5s ease-in-out forwards
							
				&:nth-of-type(6)
					svg
						path 
							stroke-dasharray 138px
							stroke-dashoffset 146px
							animation draw 2.7s ease-in-out forwards
							
	@keyframes fadeInUp
		from 
			opacity 0
			transform(translate3d(0, 30%, 0)) 
		to 
			opacity 1
			transform(none) 
				
	
	.lollipop
		position absolute
		right 0
		z-index -1
		bottom -27rem
		
#advantages 
	z-index 4
	background-color purple 
	min-height 105rem
	
	.upward-cloud
		background-image: url("../images/sprite-lightpurple.png")
	
	
	.pop1 
		top -8rem 
		left 8rem

	.pop2
		top 4rem 
		left 0
		

	.bln
		right 7rem 
		bottom -8rem 
	

	.center-content
		position relative
	
	img 
		position absolute
		
	.themes 
		width 61% 
		display inline-block
		vertical-align top
		text-align center
		
	.huge 
		font-size 27.681rem 
		color lighterpurple 
		display inline-block
		vertical-align top
		width auto
		
	.propaganda 
		margin-top 18.5rem
		
	.choices 
		display inline-block
		vertical-align top
		width auto 
		color white 
		font-size 4.26rem

		span 
			font-size 7.66rem 
			color lemon 
			display block
			
		b 
			letter-spacing 1.4rem
			
	.parties 
		display inline-block
		vertical-align top
		width 30% 
		text-align left
		position relative
		
		.rotated 
			transform(rotate(-90deg))
			font-size 5.645rem
			color white 
			position absolute
			left -12rem 
			top 9rem
			
		.number-of 
			color lighterpurple
			font-size 23.232rem
			vertical-align top
			display inline-block
			vertical-align top
			width 57% 
			line-height 3rem 
			text-align right
			margin-top 10rem
			
			b 
				font-size 2.465rem
				color lemon
						
		span 
			&:first-of-type
				font-size 27.157rem
				display inline-block
				vertical-align top
				color lighterpurple 
				
	.fun
		display inline-block
		vertical-align top
		width 55%
		text-align center
		position relative
		 
		.rotated
			color lemon
			transform(rotate(-90deg))
			font-size 5.728rem 
			letter-spacing 0.3rem
			position absolute
			left 1rem 
			top 10.8rem
			
		span 
			&:first-of-type
				font-size 30rem 
				color lighterpurple
				display inline-block
				vertical-align top
				margin-left 10rem
				
		.hours 
			font-size 22.47rem
			color lighterpurple
			display inline-block
			vertical-align top
			width 48%
			line-height 4rem 
			margin-top 10.5rem 
			
			
			b 
				color white 
				font-size 3.576rem
				
	.toy 
		vertical-align top
		display inline-block
		position relative
		width 35%
		
		.huge-toy
			font-size 29.911rem 
			letter-spacing -0.2rem 
			color lemon
			display inline-block
			vertical-align top
			position absolute
			left 0rem 
			
		.meters 
			display inline-block
			vertical-align top
			font-size 2.653rem 
			color white 
			position absolute
			right 0
			top 2.8rem
			text-align center
			
			span 
				font-size 7.3rem 
				line-height 6.7rem
				color lighterpurple
				
				span 
					color white
				
		
#happening 
	background-color #84419C
	min-height 132.5rem
	text-align center
	
	.test 
		display none
	
	h1 
		font-size 8.2rem 
		color yellow
		margin-top 7rem
		text-shadow 0 1px 0 #bb980c, 
					0 2px 0 #bb980c,
					0 3px 0 #bb980c,
					0 4px 0 #bb980c,
					0 5px 0 #bb980c,
					0 6px 1px rgba(0,0,0,.1),
					0 0 5px rgba(0,0,0,.1),
					0 1px 3px rgba(0,0,0,.1),
					0 3px 5px rgba(0,0,0,.1),
					0 5px 10px rgba(0,0,0,.1),
					0 10px 10px rgba(0,0,0,.1),
					0 20px 20px rgba(0,0,0,.1)
		
	h2 
		color white 
		font-size 3rem 
		margin-top 2.5rem 
		
	.instagram-feed
		position relative
		margin-top 15rem
		
		.row 
			clear both 
			
			&:after 
				clear both
				
		object 
			position absolute 
			left 0
			
			&:first-of-type
				top -6.2rem 	
				
			&:last-of-type
				bottom -51.3rem
			
		.column 
			width 25%
			float left 
			background lightpurple url('../images/meno.jpg') no-repeat center center
			min-height 48rem
			background-size cover
			position relative
			
			&:hover .overlay 
				opacity 1
			
		.overlay 
			background-color rgba(71, 47, 96, 0.9)
			position absolute
			top 0 
			left 0
			width 100% 
			height 100%
			text-align center
			opacity 0 
			transition(opacity 0.3s ease-in-out)
			
			p 
				font-size 4.8rem 
				color yellow 
				line-height 2.2rem 
				margin 15rem 0 2% 0
				
			span 
				font-size 1.8rem 
				line-height 2.2rem 
				color white 
				
				
			
		.btn-round 
			display block	
			background-color transparent 
			border .4rem solid white 
			color white 
			box-shadow none	
			width 18.5rem 
			margin 4rem auto 0 auto
			transition(all 0.3s ease-in-out) 
			
			&:hover 
				background-color white 
				color rgba(71, 47, 96, 0.9)
				
		
#types 
	background transparent url('../images/bg-pink.jpg') no-repeat center center
	min-height 92rem
	text-align center
	
	h1 
		color #00b9f2		
		font-size 7.4rem  
		padding-top 12rem
		text-shadow 0 1px 0 #187ca0, 
					0 2px 0 #187ca0,
					0 3px 0 #187ca0,
					0 4px 0 #187ca0,
					0 5px 0 #187ca0,
					0 6px 1px rgba(0,0,0,.1),
					0 0 5px rgba(0,0,0,.1),
					0 1px 3px rgba(0,0,0,.1),
					0 3px 5px rgba(0,0,0,.1),
					0 5px 10px rgba(0,0,0,.1),
					0 10px 10px rgba(0,0,0,.1),
					0 20px 20px rgba(0,0,0,.1)
				
	.carousel 
		margin-top 10rem
			
	.type 
		min-height 44rem
		float left 
		width 21.2%
		text-align center
		background transparent url('../images/type-bg.svg') no-repeat center center
		padding 2rem
		
		&:focus 
			outline none
		
		&.fix
			h2 
				margin 2rem auto 1rem auto
				
		&.adjust
			h2 
				margin 3rem auto 1rem auto
		
		img 
			max-width 100%
			display inline-block
		h2 
			color white 
			font-size 2.8rem 
			margin 3rem auto
			
		p 
			font-size 1.4rem 
			color white
			font-family asap
			width 80%
			margin 0 auto 2.4rem auto
			
		.btn-round
			background-color #00b9f2
			display inline-block 
			margin 0 auto 
			transition(all 0.3s ease-in-out)
			
			&:hover 
				color yellow
				background-color white
				box-shadow none


#map 
	min-height 67rem
		